.cell {
     box-sizing: border-box;
     border: solid 5px gray;
     width: 150px;
     height: 150px;
 }

.cell--X {
    background-image: url(./X.svg);
}

.cell--O {
    background-image: url(./O.svg);
}

.cell--highlight {
    border: solid 10px red;
}
